# Puerto en el que correrá el servidor
PORT=3000

# Host del servidor
HOST=localhost

# Clave secreta para JWT
SECRET_KEY=

# URL de conexión a la base de datos PostgreSQL
DATABASE_URL=postgresql://tuUsuario:tuPassword@localhost:5432/skatepark

# No usar SSL para la conexión a la base de datos
DATABASE_SSL=false

# Otros valores de configuración
